@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Outfit:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&family=Outfit:wght@400;700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 16px;
}

:root{

--main-background: hsl(233, 47%, 7%);
--card-background: hsl(244, 38%, 16%);
--accent-color: hsl(277, 64%, 61%);
--heading-stats: hsl(0, 0%, 100%);
--main-paragraph: hsla(0, 0%, 100%, 0.75);
--stat-headings: hsla(0, 0%, 100%, 0.6);

}

img{
    max-width: 100%;
}

body{
    font-family: "Outfit", sans-serif;
    background-color: var(--main-background);
    color: var(--main-paragraph);
    text-align: center;
}

.container{
    background-color: var(--card-background);
    border-radius:0 0 10px 10px;
    max-width: 100%;
    margin:2.5rem 2rem;
}

.card-image{
    background: url("../images/image-header-mobile.jpg")
    no-repeat center/cover;
    height: 300px;
    border-radius: 10px 10px 0 0;
}

.card-image .overlay{
    background: hsl(277, 88%, 37%);
    height: 300px;
    opacity: .60;
    border-radius: 10px 10px 0 0;
}

.card-image img{
    border-radius: 10px 10px 0 0;
}

.card-content{
    padding: 1.5rem 2rem;
}

h1{
    color: var(--heading-stats);
    font-family: "Lexend Deca", sans-serif;
    font-weight: 700;
}

.insights{
    color: var(--accent-color);
}

p{
    color: var(--main-paragraph);
    margin-top: 1.5rem;
    line-height: 1.5rem;
}

.stats{
    color: var(--stat-headings);
}

ul{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}

ul li{
    margin-top: 1.5rem;
    text-transform: uppercase;
    font-size: .75rem;
}

ul li span{
    display: block;
    color: var(--heading-stats) !important;
    font-weight: 700;
    font-size: 1.1rem;
}

.attribution { 
    font-size: 1rem; 
    text-align: center;
    margin:.75rem 1rem;
 }

.attribution a { color: hsl(228, 45%, 44%); }

@media screen and (min-width:768px){

    body{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

    .container{
        display: flex;
        margin: 0 auto;
        flex-direction: row-reverse;
        width: 800px;
        border-radius: 20px;
    }

    .card-image{
        background: url("../images/image-header-desktop.jpg")
        no-repeat center/cover;
        height: auto;
        border-radius: 0 10px 10px 0;
        width: 50%;
    }

    .card-image .overlay{
        background: hsl(277, 88%, 37%);
       height: 100%;
        opacity: .60;
        border-radius: 0 10px 10px 0;
    
    }

    .card-content{
        text-align: left;
        padding: 3rem 3.5rem 0 2.5rem;
        width: 50%;
    }

    .card-content ul{
        display: flex;
        justify-content: space-between;
        flex-direction:row;
        margin: 2rem 0;
    }
}